# Instructions folder
/instructions
/skills

# IDE settings
/.vscode

# Environment variables
.env.*
!.env.example

# Node.js dependencies
node_modules

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*

# Editor backups
*~
.DS_Store

# Testing
/coverage

# Java backend
.idea
target

lms-api-postman-collection.json