DB_URL=jdbc:postgresql://your-supabase-url:5432/postgres
DB_USERNAME=postgres
DB_PASSWORD=your_password
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_CLOUD_NAME=your_cloud_name
JWT_SECRET=your_jwt_secret_min_32_chars